@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: forest --default;
}

@theme {
  --font-body: 'PT Sans', sans-serif;
  --font-headline: 'Playfair Display', serif;
}